
input{border:1px solid #ccc;box-shadow:inset #ccc 0 0 5px;cursor:pointer;font-style:italic;margin:8px 0 20px;padding:7px;width:250px}
.enviar{background:#d25959;box-shadow:none;color:white;margin-bottom:0;width:100px}
.enviar:hover{text-decoration:underline}
span{display:block;font-size:.8em;margin:0px 0 10px;padding:5px 0 5px 11px;width:200px}
.confirmacion{background:#C6FFD5;border:1px solid green;}
.negacion{background:#ffcccc;border:1px solid red}